@import url('https://fonts.googleapis.com/css?family=Nunito');

body{
    font-family: 'Nunito', sans-serif;
    background: #F6F8F8;            
}

.App-header{
    text-align: center;
    border-bottom: 2px solid gray;
    font-size: 18px;
}
.crypto {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* ------------- */
.currency {
    padding: 1rem 2rem 2rem;
    margin: 1rem;
    border-radius: 0.5rem;
    min-width: 9rem;
    border: solid 1px rgba(0, 0, 0, 0.05);
    display: block;
}

.currency p {
    color: rgba(0, 0, 0, 0.75);
}

.currency-name {
    font-size: 1.25rem;
}

ul:nth-of-type(2n) {
    background-color: #fbe2c3;
    border-bottom: solid 4px #f7931a;
}

li:nth-of-type(2n-1) {
    background-color: #ffffff;
    border-bottom: solid 4px #000;
    box-shadow: 0 0 .5rem #020202;
}